*{
	margin: 0;
	padding: 0;
}
.container{
	margin-top: 200px;
}
.slick-next{
	position:absolute;
	top: 100px;
	left: -160px;
	color:black!important;
	font-size: 0px!important;
	z-index: 1;
	background-color: blue;
}
.slick-prev{
	position:absolute;
	top: 100px;
	left: -20px;
	color:black!important;
	font-size: 0px!important;
	background-color:red;
}
.tab{
margin-bottom:50px;
}

.slider-bt{
background-color:#2f125c;
padding-top:190px;
height: 600px;
	position: relative;
}
.card{
	width: 330px;
}
.inner{
overflow: hidden;
}
.inner img {
  transition: all 1.5s ease;
  border: none;
}
.inner:hover img{
  transform: scale(1.5);
}
.car-1{
margin-left: -180px;
margin-top: 60px!important;
}
hr{
margin-top: -10px;
}
.card-button {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    background-color: #242a3a;
    color: #fff;
    z-index: 5;
    overflow: hidden;
/* transform: translateY(20px);
transition: transform .5s ,background .5s cubic-bezier(.165,.84,.44,1) 0s,-webkit-transform .5s cubic-bezier(.165,.84,.44,1); */
}