*{
	margin: 0;
	padding: 0;
}
.field{
margin-top: 50px;
margin-bottom: 100px;
}
.car-1{
margin-left: -115px;
	margin-top: 60px!important;
}
.bt1{
font-size: 30px;
color:white;
display: inline-block;
border-radius: 50px;
box-shadow: 0px 0px 2px #888;
padding: 0.2rem 1rem;
}
.slider-bt{
background-color:#2f125c;
padding-top:190px;
height: 600px;
}
.card-button {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    background-color: #242a3a;
    color: #fff;
    z-index: 5;
    overflow: hidden;
/* transform: translateY(20px);
transition: transform .5s ,background .5s cubic-bezier(.165,.84,.44,1) 0s,-webkit-transform .5s cubic-bezier(.165,.84,.44,1); */
}
.card{
	width: 330px;
}
.inner{
overflow: hidden;
}
.inner img {
  transition: all 1.5s ease;
}
.inner:hover img{
  transform: scale(1.5);
}